<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>Beanify</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.Beanify</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Beanify</string>
	<key>UIAppFonts</key>
	<array>
		<string>iconize-fontawesome.ttf</string>
		<string>iconize-material.ttf</string>
		<string>Fonts/lato_regular.ttf</string>
		<string>Fonts/opensans_regular.ttf</string>
		<string>Fonts/oswald_regular.ttf</string>
		<string>Fonts/opensans_semibold.ttf</string>
		<string>Fonts/oswald_semibold.ttf</string>
		<string>Fonts/oswald_bold.ttf</string>
		<string>Fonts/oswald_light.ttf</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
