<div class="jumbotron">
    <h1>Beanify Web Administration</h1>
    <p class="lead"></p>
    <p>
       
            @Html.ActionLink("Authenticate", "Login", "MvcAccount",
         routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "btn btn-primary btn-lg" }
         )
      
    </p>
</div>
