@using Microsoft.AspNet.Identity
<div class="jumbotron">
    <h1 class="no-display-phone ">Beanify Web Administration</h1>
    &nbsp;
    <div class="container-center">


    @if (!Request.IsAuthenticated || !User.IsInRole("Admin") )
    {
        @Html.ActionLink("Authenticate", "Login", "MvcAccount",
                       routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-dark btn-lg child" }
                       )

    }
    else
    {
      if (User.IsInRole("Admin")
          )
        {
            <a href="/MvcOrderModels" class=" btn btn-dark btn-lg child zoom">

                    Orders
                    @if (ViewBag.NewOrders > 0)
                    {
                        <span class="badge badge-danger">@ViewBag.NewOrders</span>
                    }
            </a>
            

            @Html.ActionLink("Customers", "", "MvcAccount",
                                routeValues: null, htmlAttributes: new {  @class = "btn btn-dark  btn-lg child zoom" }
                                )
            @Html.ActionLink("Products", "Index", "MvcProductModels",
                                routeValues: null, htmlAttributes: new { @class = "btn btn-dark btn-lg child zoom" }
                                )

    }

}
    </div>
</div>