
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Dashboard</h2>

@Html.ActionLink("Messaging", "Login", "MvcAccount",
         routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }
         )
@Html.ActionLink("Orders", "Login", "MvcAccount",
         routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }
         )
@Html.ActionLink("Customers", "Login", "MvcAccount",
         routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }
         )
@Html.ActionLink("Products", "Login", "MvcAccount",
         routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }
         )
