@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "MvcAccount", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    </ul>
    }
}
else
{
    <form class="navbar-right">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li>@Html.ActionLink("Log in", "Login", "MvcAccount", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
        </ul>
    </form>
}
